# Prisma Database Connection URL
# Replace with your actual Postgres database URL (e.g., Supabase, Neon, etc.)
DATABASE_URL="postgres://a3e3f33eb9a11f0dfa6da1084badab6477cd6d83e55b765ab0def4379cf0b1a3:sk_yiu24UwNhkBYIbyoWhZ0w@db.prisma.io:5432/postgres?sslmode=require"

# JWT Secret for Session Management
JWT_SECRET="f72368da949165620959f77f52613998f4803965682855f75608779603f90983"
